.text{
	margin-left: 36%; margin-top: -330px;
	}
.text1{
	margin-left: 36%; margin-top: -250px;
	}
.text2{
	margin-left: 36%; margin-top: -300px;
	}
.text3{
	margin-left: 36%; margin-top: -355px;
	}
.text4{
	margin-left: 36%; margin-top: -370px;
	}
.text5{
        margin-left: 36%; margin-top: -370px;
    }
.content{
	width: 509px;
	height: 339px;
}
.content1{
	width: 509px;
	height: 339px;
}